.login{
    display: grid;
    place-items: center;
}
.register{
    display: grid;
    place-items: center;
}
.login-card{
    max-height: max-content;
    min-height: 300px;
    padding-top: 10%;
    padding-bottom: 15%;
}
.YT_Logo{
    width: 20%;
    text-align: center;
}

.login_button{
    text-align: right;
}
.login_links{
    text-decoration: none;
}
.password {
    text-align: left;
    font-size: 12px;
}
.textfield {
    width: 100%;
}